.getDataForm
{
  display: flex;
  padding-left: 59px;
  padding-top: 52px;
  max-width: 1013px;
}

.input__text
{
  background: #fff;
  border: 1px solid #c0c0c0;
  box-sizing: border-box;
  border-radius: 4px;
  padding-top: 20.5px;
  padding-bottom: 20.5px;
  padding-left: 28px;
  padding-right: 90px;
  margin-right: 53px;
  font: 500 18px/1.22 Montserrat;
  color: #999;
  max-width: 480px;
}

.submit__button
{
  padding-top: 20.5px;
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 20.5px;
  color: rgb(250, 248, 248);
  background-color: #000;
  border-radius: 5px;
  font: 500 18px/1.22 Montserrat;
  max-width: 480px;
}

.output__text
{
  font: 400 18px/1.35 Roboto Condensed;
}
